<h1><%=h t('collection.change') %></h1>

<% form_for(@collection) do |f| %>
  <%= f.error_messages %>
	<p>
		<%=h t('collection.name') %><br/>
		<%= text_field(:collection, :name) %>
	</p>
  <p>
    <%= f.submit t('common.update') %>
  </p>
<% end %>
<div class="nav_bottom">
	<%= link_to image_tag('icons/vcard.png', :alt => t('common.view'), :title => t('common.view')), @collection %>
	<%= link_to image_tag('icons/arrow_undo.png', :alt => t('common.back'), :title => t('common.back')), collections_path %>
</div>