<h1><%=h t('owner.new') %></h1>

<% form_for(@owner) do |f| %>
  <%= f.error_messages %>
	<p>
		<%=h t('owner.name') %>:<br/>
		<%= text_field(:owner, :name) %>
	</p>
  <p>
    <%= f.submit t('common.create') %>
  </p>
<% end %>
<div class="nav_bottom">
	<%= link_to image_tag('icons/arrow_undo.png', :alt => t('common.back'), :title => t('common.back')), owners_path %>
</div>