<% if @books.size > 0 %>
<table class="list"><tbody>
	<tr>
		<th style="width: 40%;"><%=h t('book.title') %></th>
		<th><%=h t('author.author') %></th>
		<th><%=h t('collection.collection') %></th>
		<th style="width: 25px;">&nbsp;</th>
		<th style="width: 25px;">&nbsp;</th>
		<th style="width: 25px;">&nbsp;</th>
	</tr>
<% @books.each do |book| %>
  <tr>
		<td><strong><%= link_to book.title, book %></strong></td>
		<td><%= link_to book.author.name, book.author unless book.author.nil?%></td>
		<td><%= link_to book.collection.name, book.collection unless book.collection.nil? %></td>
    <td><%= link_to image_tag('icons/book_open.png', :alt => t('common.view'), :title => t('common.view')), book %></td>
    <td><%= link_to image_tag('icons/book_edit.png', :alt => t('common.edit'), :title => t('common.edit')), edit_book_path(book) %></td>
    <td><%= link_to image_tag('icons/book_delete.png', :alt => t('common.delete'), :title => t('common.delete')), book, :confirm => t('common.erasequestion'), :method => :delete %></td>
  </tr>
<% end %>
</tbody></table>
<% else %>
<br/><br/><br/>
<p style="text-align: center;">Auccun livre trouvé</p>
<% end %>
<br/><br/><br/>
<%= will_paginate @books, :previous_label => t('common.previous'), :next_label => t('common.next') %>