<table class="details"><tbody>
	<tr><td><%=t 'book.title' %>:</td><td><strong><%=h @book.title %></strong></td></tr>
	<tr><td><%=t 'author.author' %>:</td><td><%=h @book.author.name unless @book.author.nil? %></td></tr>
	<tr><td><%=t 'collection.collection' %>:</td><td><%=h @book.collection.name unless @book.collection.nil? %></td></tr>
	<tr><td><%=t 'publisher.publisher' %>:</td><td><%=h @book.publisher.name unless @book.publisher.nil? %></td></tr>
	<tr><td><%=t 'owner.owner' %>:</td><td><%=h @book.owner.name unless @book.owner.nil? %></td></tr>
	<tr><td><%=t 'book.printdate' %>:</td><td><%=h @book.printdate %></td></tr>
</tbody></table>
<div class="nav_bottom">
	<%= link_to image_tag('icons/book_edit.png', :alt => t('common.edit'), :title => t('common.edit')), edit_book_path(@book) %>
	<%= link_to image_tag('icons/arrow_undo.png', :alt => t('common.back'), :title => t('common.back')), books_path %>
</div>