<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>BibSukés -la bibliothèque des netsukés- | <%= controller.controller_name %></title>
	<link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') %>">
	<%= javascript_include_tag :defaults, :cache => true %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'print', :media => 'print', :cache => false %>
</head>
<body>
<div id="page">
<div id="sidebar">
<ul id="sidebar-items">
	<li>
		<div id="search">
			<% form_tag('/books/search') do -%>
				<%= text_field_tag('query', t('book.search'), :onfocus => "this.value=''", :id => 'search-text') %>
				<%= submit_tag t('common.search_submit') %>
			<% end -%>
			<p><%= t('common.search_hint') %></p>
		</div>
	</li>
	<li>
		<h3 style="margin-top: 10px;">Listes</h3>
		<ul class="links">
			<li><%= link_to t('nav.list_books'), :controller => 'books' %></li>
			<li><%= link_to t('nav.last_entries'), :controller => 'books', :sort => 'created_at' %></li>
			<li>
				<%= t('nav.by_author') %>:<br/>
				<%= collection_select(:author, :id, Author.all(:order => 'name'), :id, :name, {:include_blank=>t('author.select')}, {:onchange => 'window.location = "/authors/"+this.options[this.selectedIndex].value;'}) %>
			</li>
			<li>
				<%= t('nav.by_publisher') %>:<br/>
				<%= collection_select(:publisher, :id, Publisher.all(:order => 'name'), :id, :name, {:include_blank=>t('publisher.select')}, {:onchange => 'window.location = "/publishers/"+this.options[this.selectedIndex].value;'}) %>
			</li>
			<li>
				<%= t('nav.by_collection') %>:<br/>
				<%= collection_select(:collection, :id, Collection.all(:order => 'name'), :id, :name, {:include_blank=>t('collection.select')}, {:onchange => 'window.location = "/collections/"+this.options[this.selectedIndex].value;'}) %>
			</li>
			<li>
				<%= t('nav.by_genre') %>:<br/>
				<%= collection_select(:genre, :id, Genre.all(:order => 'name'), :id, :name, {:include_blank=>t('genre.select')}, {:onchange => 'window.location = "/genres/"+this.options[this.selectedIndex].value;'}) %>
			</li>
			<li><%= link_to t('nav.list_authors'), :controller => 'authors' %></li>
			<li><%= link_to t('nav.list_publishers'), :controller => 'publishers' %></li>
			<li><%= link_to t('nav.list_collections'), :controller => 'collections' %></li>
			<li><%= link_to t('nav.list_genres'), :controller => 'genres' %></li>
		</ul>
	</li>
	<li>
		<h3>Edition</h3>
		<ul class="links">
			<li><%= link_to t('book.new'), :controller => 'books', :action => 'new' %></li>
			<li><%= link_to t('author.new'), :controller => 'authors', :action => 'new' %></li>
			<li><%= link_to t('publisher.new'), :controller => 'publishers', :action => 'new' %></li>
			<li><%= link_to t('collection.new'), :controller => 'collections', :action => 'new' %></li>
			<li><%= link_to t('genre.new'), :controller => 'genres', :action => 'new' %></li>
			<li><%= link_to t('country.new'), :controller => 'countries', :action => 'new' %></li>
			<li><%= link_to t('owner.new'), :controller => 'owners', :action => 'new' %></li>
		</ul>
	</li>
	</ul>
</div>
<div id="main">
<div id="header">
	<div class="locales">
		<%= link_to image_tag('flags/fr.png', :alt => t('common.locale_fr')), :locale => 'fr' %>&nbsp;
		<%= link_to image_tag('flags/de.png', :alt => t('common.locale_de')), :locale => 'de' %>
	</div>
	<% link_to :controller => 'books', :action => 'overview' do %>
	<p class="title1">BibSukés</p>
	<p class="title2">la bibliothèque des netsukés</p>
	<% end %>
</div>
<div id="content">
	<p style="color: green"><%= flash[:notice] %></p>